#back {
    background-image: url(../images/dark-grey-terrazzo.png);
}

nav {
   width:960px;
   background-color: #4aaaa5;
   color: white;
   padding: 20px;
   margin-bottom: 20px;
   font-family: "arial";
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #cccccc;

}

#imgbox {
    float: left;
    margin-right:10px;
}

#aboutsection {
    background-color: #ffffff;
    padding: 10px;
    border-left: solid;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#name {
    width: 14%;
    float: left;
    border-right-style: none;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 14px;
    padding-top:18px;
    padding-right: 12px;
    padding-left: 22px;
}

#about {
    font-family: Arial, Helvetica, sans-serif;
    border-left-style: none;
    float: left;
    width: 69%;
    border-right-style: none;
    text-align:right;
    padding-right: 0px;
    background-color: #ffffff;

}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    border-left-style: none;
    float: left;
    width: 6%;
    text-align: center;
    border-right-style: none;
    padding-right: 0px;
    padding-left: 2px;
    background-color: #ffffff;
}

#portfolio {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    border-left-style: none;
    width: 5%;
    float: left;
    text-align: right;
    padding-right: 18px;
    background-color: #ffffff;
}

#biopic {
    float: left;
    height: 400px;
    width: 300px;
}

#aboutme {
    float: left;
    border-style: outset;
    border-top-style: none;
    border-color: #dddddd;
    
}

#aboutmetitle {
    margin-top: 20px;
    border-style: outset;
    padding-left: 10px;
    clear: both;
    overflow: auto;
    border-color:#dddddd;
    background-color: #ffffff;
}


#line{
    border-style: solid;
    background-color: black;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*      contact page CSS      */


form { 
    border-style:outset;
    clear: both; 
    overflow: auto;
    padding: 5px 20px 30px;
}