
.float {
    text-align: right;
}

nav {
   width:100%;
   background-color: green;
   border-width: 1px;
   border: solid black;
   color: white;
   padding: 8px;
}

#name {
    width: 79%;
    float: left;
    border-right-style: none;
}

#about {
    border-left-style: none;
    float: left;
    width: 6%;
    border-right-style: none;
    text-align:right;
    padding-right: 0px;

}

#contact {
    border-left-style: none;
    float: left;
    width: 5%;
    text-align: right;
    border-right-style: none;
    padding-right: 0px;
    padding-left: 2px;
}

#portfolio {
    padding-left: 0px;
    border-left-style: none;
    width: 6%;
    float: left;
    text-align: right;
    padding-right: 18px;
}